@import "./abstracts/resets";
@import "./base/typography";
@import "./abstracts/variables";
@import "./abstracts/mixins";

@import "./components/btn";

@import "./layout/container";
@import "./layout/navbar";
@import "./layout/footer";
@import "./layout/header";
@import "./layout/features";
@import "./layout/productive";
@import "./layout/testimonials";
@import "./layout/access";

body {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  background-color: $bg-main;
  color: white;
}
