.features {
  margin: 2rem;
  @media screen and (min-width: $mediaBig) {
    margin: 0 auto;
    margin-top: -5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1080px;
  }

  &__icon {
    img {
      display: block;
      height: 4rem;
      width: auto;
    }
  }

  &__feature {
    max-width: 28rem;
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__title {
    margin: 1rem auto;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
  }

  &__text {
    font-size: 1rem;
  }
}
