.testimonials {
  margin: 10rem 3rem;

  &::before {
    content: url("../images/bg-quotes.png");
    position: relative;
    top: 2.5rem;
  }

  &__entry {
    margin: 2rem auto;
    padding: 1.5rem;
    background-color: $bg-testimonials;
    border-radius: 0.5rem;
  }
  &__text {
    opacity: 0.8;
    font-size: 0.9rem;
  }
  &__info {
    display: flex;
    align-items: center;
    margin: 1rem 0;
  }
  &__photo {
    margin-right: 1rem;
    img {
      display: block;
      width: 2rem;
      height: auto;
      border-radius: 50%;
    }
  }
  &__name {
    font-size: 1rem;
  }
  &__job-title {
    opacity: 0.8;
    font-size: 0.9rem;
  }
}
